@charset "UTF-8";

div {
    display: inline-block;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
}

#d3:hover {
    background-color: aqua;
}

#d2:hover {
    background-color: yellow;
}

#d1:hover {
    background-color: greenyellow;
}