@charset "UTF8";
* {
font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right,#2C2645, #B085F5);
    background-attachment: fixed;
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #372a4dc4;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #AB5FBC;
    text-align: center;
    text-shadow: 1px 1px 1px #6b3c75e0;
}
h2 {
    color: #2C2645;
}
p {
text-align: justify;
}
